# List. Tuple, Dictionary

In [3]:
my_list = [1, 2, 3]


print(my_list, type(my_list))

[1, 2, 3] <class 'list'>

In [13]:
my_list = [1, 2.45, "Adam", [20, "Vijay"]]

# Find the length of any iterator
len(my_list)

4

In [14]:
my_list[3][1]

'Vijay'

# Append & Extend

In [15]:
my_list.append(["Krishna", 206])

print(my_list)

[1, 2.45, 'Adam', [20, 'Vijay'], ['Krishna', 206]]

In [16]:
my_list.append(10)

print(my_list)

[1, 2.45, 'Adam', [20, 'Vijay'], ['Krishna', 206], 10]

In [18]:
my_list.extend(["Krishna", 206])

print(my_list)

[1, 2.45, 'Adam', [20, 'Vijay'], ['Krishna', 206], 10, 'Krishna', 206]

In [20]:
my_list.extend([[1,2, 3], [4, 5]])

print(my_list)

[1, 2.45, 'Adam', [20, 'Vijay'], ['Krishna', 206], 10, 'Krishna', 206, [1, 2, 3], [4, 5]]

# Deep Copy and Shallow Copy

In [24]:
a = [1, 2, 3, 4]

b = a

print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [26]:
a[0] = 100

print(a)
print(b)

[100, 2, 3, 4]
[100, 2, 3, 4]

In [27]:
c = a.copy() # shallow copy
a[0] = 200

print(a)
print(c)

[200, 2, 3, 4]
[100, 2, 3, 4]

In [28]:
d =  a[:] # shallow copy
a[0] = 300

print(a)  # [300, 2, 3, 4]
print(d) # [200, 2, 3, 4]

[300, 2, 3, 4]
[200, 2, 3, 4]

In [37]:
l = [1, 2, 3 , [100,  200] ]

# x = l.copy()

# l[3] = 10

# print(l)
# print(x)

In [38]:
x =l.copy()

l[3][0] = 500

print(l)
print(x)

[1, 2, 3, [500, 200]]
[1, 2, 3, [500, 200]]

In [40]:
## Deep copy
import copy

l = [1, 2, 3 , [100,  200] ]

x = copy.deepcopy(l)

l[3][0] = 500

print(l)
print(x)

[1, 2, 3, [500, 200]]
[1, 2, 3, [100, 200]]

In [41]:
a = [[[1,2,3], [4,5,6], [7, 8, 9]],
     [[10, 20], [30, 40]]]

In [42]:
a

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[10, 20], [30, 40]]]

In [43]:
b = a.copy()
c = copy.deepcopy(a)

a[0][0][0]= 1000

print(a)
print(b)
print(c)

[[[1000, 2, 3], [4, 5, 6], [7, 8, 9]], [[10, 20], [30, 40]]]
[[[1000, 2, 3], [4, 5, 6], [7, 8, 9]], [[10, 20], [30, 40]]]
[[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[10, 20], [30, 40]]]

In [47]:
a = [10, 8, 3, 7, 4, 11, 11]

# sort method
# In-place sort
a.sort(reverse = True)

# sorted function
# Not in-place sort
b = sorted(a, reverse = True)

# Merge sort, Quick Sort, Heap Sort, Bubble sort

print(a)
print(b)

[10, 8, 3, 7, 4, 11, 11]
[11, 11, 10, 8, 7, 4, 3]

In [49]:
c = [(10, 20), (1, 2), (4, 5), (100, 1), (99, 4)]

c.sort(key = function)

print(c)

[(1, 2), (4, 5), (10, 20), (99, 4), (100, 1)]

# Lambda function

In [59]:
s = lambda num1, num2 : num1 + num2

s(1, 2)

3

# User Defined function

In [ ]:
def sum_of_two_numbers(num1, num2):
  sum_var = num1 + num2
  return sum_var, num1, num2

In [66]:
def sum_of_two_numbers():
  num1 = int(input("Enter the first number: "))
  num2 = int(input("Enter the second number : "))
  sum_var = num1 + num2
  return sum_var, num1, num2


sum_of_two_numbers()

Enter the first number: a

ValueError: invalid literal for int() with base 10: 'a'

'/content'

In [65]:
int('c')

ValueError: invalid literal for int() with base 10: 'c'